.primary{
  padding: 12px 16px;
  box-sizing: border-box;
  font-weight: 600;
  border-radius: 42px;
  background: var(--secondary-medium);
  color: var(--neutral-lightest);

  &:hover{
    cursor: pointer;
    background: var(--secondary-dark);
  }
}

.secondary{
  padding: 12px 16px;
  box-sizing: content-box;
  font-weight: 600;
  border-radius: 42px;
  background: none;
  border: 1px solid var(--secondary-medium);
  color: var(--secondary-medium);

  &:hover{
    cursor: pointer;
    border: 1px solid var(--secondary-dark);
    color: var(--secondary-dark);
  }
}

.category{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 84px;
  height: 32px;
  padding: 8px 12px;
  border-radius: 42px;
  font-size: 0.75rem;
  background: var(--neutral-extralight);
  font-family: "Open Sans", sans-serif;

  &:hover{
    cursor: pointer;
    background: var(--secondary-dark);
  }
}

.sort{
  background: transparent;
  color: var(--neutral-extradark);

  &:hover{
    background-color: var(--accent-medium);
    color: var(--neutral-extralight);
  }
}