.homeWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postWrapper{
  display: grid;
  grid-template-columns: 314px;
  grid-gap: 20px;
}

.contentWrapper{
   margin-bottom: 50px;
}

@media screen and (min-width: 680px){
  .postWrapper{
    grid-template-columns: repeat(2, 314px);
  }
}

@media screen and (min-width: 1366px){ /* DESKTOP */
  .postWrapper{
    grid-template-columns: repeat(3, 314px);
    gap: 20px;
  }

  .contentWrapper{
    display: grid;
    grid-template-columns: 314px auto;
    gap: 20px;
  }
}