.cardWrapper {
  width: 314px;
  height: 425px;
  background: white;
  border-radius: 16px;
}

.cardBg {
  display: block;
  width: 100%;
  height: 196px;
  border-radius: 16px 16px 0 0;
}

.cardContent {
  display: grid;
  grid-gap: 16px;
  grid-template-rows: 19px 114px 32px;
  padding: 16px;
}

.cardCaption{
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 400;
}

.separator{
  width: 5px;
  height: 5px;
  display: inline-block;
  background: var(--secondary-medium);
  border-radius: 100%;
  margin: 0 6px;
}

.cardContentText {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 8px;
}