.dropdownWrapper {
  position: absolute;
  top: 32px;
  width: 314px;
  height: auto;
  border-radius: 16px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--neutral-lightest);
  box-shadow: 0px 3px 5px var(--neutral-light)
}

.dropdownItem{
  width: 100%;
  height: 28px;
}