.dropdownWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--neutral-lightest);
  box-shadow: 0px 3px 5px var(--neutral-light)
}

.searchWrapper {
  width: 100%;
  position: relative;
}

.closeListBtn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--neutral-medium);
  background: none;
  transform: translate(0, -20px);

  svg{
    width: 20px;
    height: 20px;
  }
}

.searchItem {
  width: 100%;
  font-size: 0.875rem;
  height: 40px;
  padding: 8px 8px 8px 40px;
  border-radius: 32px;
  border: 1px solid var(--accent-medium);
  outline: none;
}

.dropdownItem {
  display: block;
  width: 100%;
  height: 28px;
  padding: 4px 0;
  font-size: 0.875rem;
  line-height: 20px;
  text-align: left;
  cursor: pointer;

  &:hover {
    color: var(--secondary-dark);
  }
}

.selectedItem {
  color: var(--secondary-medium);
  border-bottom: 1px solid var(--secondary-medium);
}

@media screen and (min-width: 768px) {
  .dropdownWrapper {
    top: 32px;
    width: 314px;
    height: auto;
    border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: var(--neutral-lightest);
    box-shadow: 0px 3px 5px var(--neutral-light)
  }
}