.dropdownWrapper {
  position: absolute;
  top: 32px;
  width: 314px;
  height: auto;
  border-radius: 16px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--neutral-lightest);
  box-shadow: 0px 3px 5px var(--neutral-light)
}

.dropdownItem{
  display: block;
  width: 100%;
  height: 28px;
  padding: 4px 0;
  font-size: 0.875rem;
  line-height: 20px;
  text-align: left;
  cursor: pointer;

  &:hover{
    color: var(--secondary-dark);
  }
}

.selectedItem{
  color: var(--secondary-medium);
  border-bottom: 1px solid var(--secondary-medium);
}