.header {
  width: 100vw;
  height: 64px;
  border-bottom: 1px solid var(--neutral-extralight);
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

.headerWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;

  img{
    width: 50%;
    height: auto;
  }
}

.searchWrapper{
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid var(--neutral-extralight);
  color: var(--neutral-extradark);
  outline: none;

  &:hover{
    border-color: var(--accent-medium);
  }

  &:selected{
    border-color: var(--accent-medium);
  }
}

.searchIcon{
  background-color: var(--primary-light);
  color: var(--neutral-lightest);
}