.header {
  width: 100vw;
  height: 64px;
  border-bottom: 1px solid var(--neutral-extralight);
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

.headerWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;

  img{
    width: 50%;
    height: auto;
  }
}

.searchWrapper{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: var(--neutral-darkest);
  color: white;
}