:root {
  --neutral-lightest: #F0F0F2;
  --neutral-extralight: #E0E2E6;
  --neutral-light: #C0C2C8;
  --neutral-medium: #9EA0A5;
  --neutral-dark: #7F8185;
  --neutral-extradark: #5E5F63;
  --neutral-darkest: #202122;
  --primary-light: #0B0E3A;
  --primary-medium: #060725;
  --primary-dark: #020318;
  --secondary-light: #EF4C84;
  --secondary-medium: #D31450;
  --secondary-dark: #9C1038;
  --accent-light: #00BFC1;
  --accent-medium: #009598;
  --accent-dark: #006C6E;
}

* {
  padding: 0;
  margin: 0;
  width: auto;
  font-family: "Open Sans", serif;
}

p{
  font-size: 0.875rem;
  line-height: 150%;
}

a {
  font-weight: 500;
  color: var(--neautral-darkest);
  text-decoration: inherit;
}

a:hover {
  color: var(--neautral-dark);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--primary-dark);
  background: url("/images/bg-mobile.png") top center / 100% auto;
}

h1,
h2,
h3 {
  line-height: 130%;
  font-weight: 700;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.25rem
}

b {
  font-weight: 600;
}

button{
  border: none;
  appearance: none;
}

.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (min-width: 1279px){
  .wrapper{
    max-width: 1330px;
  }
}

/* Open Sans – Regular 400 */
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Open Sans – SemiBold 600 */
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Open Sans – Bold 700 */
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@media screen and (min-width: 1280px) {
  * {
    font-size: 1rem;
  }

  body{
      background: radial-gradient(circle at 100% 15%, rgb(from var(--secondary-light) r g b / 0.3) 0%, transparent 30%),
  radial-gradient(circle at 0% 50%, rgb(from var(--accent-light) r g b / 0.2) 0%, transparent 30%),
  radial-gradient(circle at 80% 80%, #A4B2D5 0%, transparent 30%);
  }
}