.postWrapper,
.latestPosts {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.backButton {
  display: flex;
  align-items: center;

  svg{
    fill: black;
    width: 20px;
    height: auto;
    margin-right: 10px;
  }
}

.postHeader {
  margin-top: 20px;
}

.postAuthor {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;

  img {
    width: 70px;
    height: 70px;
  }

  span {
    display: block;
    color: var(--neutral-medium);
    margin-top: 5px;
  }
}


.postContent {
  margin-bottom: 32px;
  text-align: justify;
}

.postThumbnail {
  width: 314px;
  height: 196px;
  border-radius: 16px;
  margin: 32px 0;
}

.latestPosts {
  border-top: 1px solid var(--neutral-light);
}

.latestPostTitle {
  margin: 30px 0 20px;
  font-weight: 600;
}

.latestPostTitle:before {
  content: "Last "
}

.latestPostList {
  display: grid;
  grid-gap: 15px;
}

@media screen and (min-width: 479px) {
  .postThumbnail {
    width: 100%;
    height: auto;
    max-height: 400px;
    aspect-ratio: 16 / 9;
  }
}

@media screen and (min-width: 1366px) {
  .postWrapper {
    width: 100%;
    max-width: 900px;
  }

  .latestPostTitle:before {
    content: "Lastest "
  }

  .latestPosts {
    border-top: 1px solid var(--neutral-light);
  }

  .latestPostList {
    display: grid;
    grid-template-columns: repeat(3, 314px);
    margin-top: 20px;
  }
}