.actionBar{
  display: flex;
  width: 314px;
  justify-content: space-between;
  align-items: center;
}

.leftActions{
  display: flex;
  gap: 4px;
  
  button{
    height: 32px;
    padding: 12px 12px 12px 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    svg{
      width: 24px;
    }
  }
}

.sortButton{
  height: 10px;
  font-size: 0.75rem;

  svg{
    height: 15px;
    color: var(--accent-medium)
  }
}

.mobileHide{
  display: none;
}

@media screen and (min-width: 1019px){
  .mobileHide{
    display: block;
  }
}